Code/Client/Cloudmaster.WCS.DataServicesInvoker/Service References/DataServices/DataServices31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCS.Services.DataServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCS.Services.DataServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LocationCodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationCodes" nillable="true" type="tns:LocationCodes" />
  <xs:complexType name="PatientCodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientCodes" nillable="true" type="tns:PatientCodes" />
</xs:schema>